<div id="main">
  <h1>Kalkulaator</h1>
  <form (ngSubmit)="onSubmit()" class="col-sm-10">
    <div>
      <p>Antud kalkulaatorisse on vaja sisestada oma nahatüüp, vastavalt mis on
        lähim kirjeldus ning samuti on vaja kalkulaatoril valida oma asukoht,
        et saada võimalikult täpne UV indeksi info.</p>
    </div>
    <div class="form-group">
      <label for="skinType"><h4>Nahatüüp</h4></label>
      <div class="col-sm-2">
        <input
          type="range"
          class="form-control"
          name="skinType"
          id="skinType"
          min="1"
          max="6"
          #sliderInput
          (input)="onSliderChange(sliderInput.value)"
          ngModel
          required>
      </div>
      <div>
        <p><b>Tüüp:</b> {{ selectedValue }}</p>
        <p>
          <b>Kirjeldus:</b><br> {{ additionalInfo }} <br><i>Näiteks:</i> {{ additionalExample }}
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="location"><h4>Asukoht</h4></label>
      <div class="col-sm-2">
        <input
          name="location"
          id="location"
          ngx-google-places-autocomplete
          (onAddressChange)="AddressChange($event)"
          ngModel
          required/>
        <i>{{ formattedAddress }}</i>
      </div>
    </div>
    <button class="btn btn-dark" type="submit">Arvuta</button>
    <br>
    <div *ngIf="isFormInvalid" class="alert alert-danger">Palun täida kõik väljad ja proovi uuesti!</div>
    <div *ngIf="showResult" class="uv-result">
      <div>UV-indeks: {{ this.uvResponse.UV }}</div>
      <div>Väljas viibimise ajasoovitus: {{ this.uvResponse.recommendedExposure }}</div>
      <div>{{ this.uvResponse.description }}</div>
    </div>
  </form>
</div>
