body {
  font-family: "Lucida Sans";
  background-color: ivory !important;
}

.navbar {
  background-color: #004c4c;
}

li {
  font-size: 20px;
  margin: 0 10px;
}

.nav-link {
  color: whitesmoke !important;
  border-radius: 6px;
}

.nav-link:hover {
  background-color: darkcyan !important;
}

#main {
  max-width: 1500px;
  padding: 7%;
  background-color: bisque;

}

.form-group {
  border-bottom: 5px !important;
}

button {
  margin-top: 15px !important;
}

.uv-result {
  margin: 5% 0 !important;
}

.slider {
  width: 200px !important;
}

.alert {
  margin: 4% 0 !important;
}

